<!DOCTYPE html>
<html lang="en">
	<html>
		<head>
			<meta charset="utf-8" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script id="vertex-shader" type="x-shader/x-vertex">

				attribute vec4 a_Position;

				void main() {   
					gl_Position = a_Position;
					gl_PointSize = 10.0;
				} 
			</script>

			<script id="fragment-shader" type="x-shader/x-fragment">

				precision mediump float;
				uniform vec4 u_FragColor;

				void main() {
					gl_FragColor = u_FragColor;
				}
			</script>
		</head>
		<body onload="main()">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div>
			{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:sean.fox@carolina.rr.com">email</a></li>
	        		<li><a href="https://github.com/sfox33">github.com/sfox33</a></li>
				</ul>
			</footer>
		</body>
	</html>
